<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Not Found</title>
		<style>
			body {
				font-family: Calibri, monospace;
				font-size: 24px;
			}
			h1 {
				color: blueviolet;
			}
			p {
				color: cadetblue;
			}
		</style>
	</head>
	<body>
		<h1>Not Found</h1>

		<p><b>The resource doesn't exist.</b></p>
	</body>
</html>